.containerHome {
  font-size: 4em;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .left-container {
    position: fixed;
    width: 50%;
    height: 100%;
    left: 0;
    background-color: rgb(237, 253, 144);
    transition: all 1.5s ease;
  }

  .left-content {
    text-decoration: none;
    transition: all 2s ease;
    position: fixed;
    width: 50%;
    height: 100%;
    left: 0;
    z-index: 99;
    opacity: 0;
    &:hover ~ .left-container {
      width: 80%;
      background-color: rgb(252, 182, 240);
      background-image: url("./images/logo2.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 60%;
    }

    &:hover ~ .right-container {
      width: 20%;
    }

    &:hover ~ .logo {
      opacity: 0;
    }
    &:hover ~ .logotextleft {
      display: block;
    }
    &:hover {
      opacity: 1;
    }
  }
  .logotextleft {
    // display: none; /* 기본적으로 숨김 */
    color: black;
    position: absolute; /* 위치 조정 */
    top: 90%;
    left: 50%;

    transform: translate(-50%, -50%); /* 가운데 정렬 */
  }
  .logo {
    width: 30%;
    z-index: 3;
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease;
  }
  .right-container {
    position: fixed;
    width: 50%;
    height: 100%;
    right: 0;
    background-color: rgb(253, 232, 232);
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease;
  }

  .right-content {
    transition: all 2s ease;
    text-decoration: none;
    color: wheat;
    position: fixed;
    width: 50%;
    height: 100%;
    right: 0;
    z-index: 99;
    opacity: 0;

    &:hover ~ .right-container {
      width: 80%;
      background-color: rgb(252, 182, 240);
      background-image: url("./images/logo3.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70% 70%;
    }
    &:hover ~ .logo {
      opacity: 0;
    }
    &:hover {
      opacity: 1;
    }
  }
  .logotextright {
    // display: none; /* 기본적으로 숨김 */
    color: black;
    position: absolute; /* 위치 조정 */
    top: 0%;
    left: 50%;

    transform: translate(-50%, 0%); /* 가운데 정렬 */
  }
}
