header {
  height: 70px;
  align-content: center;
  text-align: left;
  width: 100%;
  background-color: #fef7ff;
  font-size: 2em;
  padding-left: 6%;
  img {
    height: 50px;
  }
  display: flex;
}
