header {
  height: 8vh;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  background-color: #fef7ff;

  display: flex;
}

.header-content {
  padding-left: 6%;
  font-size: 2em;
  img {
    height: 50px;
  }
}

.ihc {
  margin-right: 5%;
  * {
    padding: 20px;
    font-size: 20px;
  }
}
