.idealbody {
  width: 95%;
  margin-left: 5%;
  flex-grow: 1;
}
.idealmain {
  margin-left: 2%;
  margin-top: 2%;
}
.product-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  // margin-bottom: 40px;
}

.product-card {
  width: 290px;
  height: 300px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

  .vs-imgset {
    width: 100%;
    height: 100%;
  }
  .btn-set {
    width: 100%;
  }
  &:hover {
    transform: translateY(-5px);
  }

  .product-image {
    width: 50%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .product-sub {
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0;
  }

  .product-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #007bff;
    margin: 5px 0;
    .title-btn {
      display: flex;
      gap: 10px;
    }
  }

  .product-body {
    font-size: 0.9rem;
    color: #555;
    margin: 5px 0;
  }
}
