.gameWrite {
  flex: 1;
  min-height: 250px;

  width: 100%;

  .Content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background: white;
    margin: 1.5rem auto;
    border-radius: 5px;
    padding-bottom: 2rem;
    box-sizing: border-box;

    .Textarea {
      width: 100%;
      height: 20rem;
      font-size: 1.25rem;
      line-height: 2.5rem;
      border: none;
      border-radius: 1.25rem;
      background: rgb(230, 230, 230);
      resize: none;
      margin: 1rem auto;
      padding: 10px 20px;
      box-sizing: border-box;
    }

    .DataArea {
      width: 80%;
      background: rgb(247, 244, 244);
      border-radius: 10px;
      padding: 10px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      flex-flow: column;

      .Box {
        width: 100%;
        display: flex;
        margin-bottom: 0.5rem;

        .Title {
          box-sizing: border-box;
          text-align: center;
          background: white;
          border-radius: 5px;
          padding: 5px 10px;
          height: 3rem;
          font-size: 1.25rem;
          line-height: 2;
          width: 20%;
        }
        .Data {
          box-sizing: border-box;
          text-align: center;
          background: white;
          border-radius: 5px;
          padding: 5px 10px;
          height: 3rem;
          font-size: 1.25rem;
          line-height: 2;
          width: 20%;
          flex: 1;
          margin-left: 0.5rem;
        }
        .FileTitle {
          box-sizing: border-box;
          text-align: center;
          background: white;
          border-radius: 5px;
          padding: 5px 10px;
          height: 5rem;
          font-size: 1.25rem;
          line-height: 3.5;
          width: 20%;
        }
        .FileData {
          box-sizing: border-box;
          text-align: center;
          background: white;
          border-radius: 5px;
          padding: 5px 10px;
          height: 5rem;
          font-size: 1.25rem;
          line-height: 3.5;
          flex: 1;
          margin-left: 0.5rem;
          display: flex;
          flex-direction: column;
          overflow: auto;
        }
        .Down {
          width: fit-content;
          img {
            vertical-align: middle;
            margin-right: 0.5rem;
            height: 50px;
          }
        }
        .Down:hover {
          cursor: pointer;
          color: blue;
        }
      }

      .Cont {
        width: 100%;
        height: 15rem;
        box-sizing: border-box;
        background: white;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 1.25rem;
        overflow: auto;
      }
    }
  }

  .Buttons {
    width: 80%;
    display: flex;
    justify-content: center;

    div + & {
      margin-top: 2rem;
    }

    input + & {
      margin-top: 2rem;
    }
  }
}

tr {
  td {
    border: 1px solid red;
    width: auto;

    .Input {
      width: 100%;
      height: 2.5rem;
      font-size: 1.25rem;
      line-height: 2.5rem;
      border: none;
      border-radius: 1.25rem;
      background: rgb(230, 230, 230);
      text-align: center;

      &::placeholder {
        color: rgb(85, 84, 84);
      }

      & + &,
      & + .Button,
      .Button + & {
        margin-top: 1rem;
      }
    }

    .FileInput {
      text-align: center;
      input {
        width: 0;
      }
      .FileLabel {
        width: 300px;
        display: flex;
      }
    }
  }
  .radio-box {
    text-align: left;
  }
  .radio {
    width: auto;
  }
  .radio-ex {
    color: rgb(85, 84, 84);
  }
  :first-child {
    width: auto;
  }
  .cols {
    width: 100%;
  }
}
