.FileData {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;

  .Down {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;

    img {
      width: auto; // 원본 가로 크기 유지
      height: auto; // 원본 세로 크기 유지
      max-width: 100%; // 부모 요소를 넘지 않도록
      max-height: 100%; // 부모 요소를 넘지 않도록
    }
  }
}
