.Header {
    padding-top: 10px;
    height: 40px;
    width: 100%;
    background-color: burlywood;
    
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    display: flex;
    text-align: center;

    img {
        height: 40px;
        
      }

    .Content{
        padding-bottom: 10px;
        float: left;
        width: 80px;
        margin-left: 20px;
        // background-color: rgb(255, 255, 255);
        border: 1px solid black;
    }
    .Content-sub{
        
        padding-bottom: 10px;
        float: left;
        width: 80px;
        margin-left: 20px;
        // background-color: rgb(255, 255, 255);
        border: 1px solid black;

        .Sub {
            display: none;
        }

        &:hover .Sub{
            margin-top: 20px;
            border: 1px solid ;
            display: block;
            z-index: 9;
        }
    }

    .input{
        border: 2px solid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin-left: 20px;
        padding: 10px;
    }
    .Icon{
        font-size: 2em;
    }
    .Content2{
        float: left;
        width: 80px;
        margin-left: 20px;
        border: 1px solid black;
        
    }
    .Icon2{
        font-size: 2em;
    }
    

}

