*{
    padding: 0;
    margin: 0;
}
.ShopSideber{
  float: right;
  border: 1px solid black;
  margin-top: 100px;
  position: relative;
  img{
    height: 30px;
    width: 30px;
    border: 1px solid;
    border-radius: 50%;
  }
}
.ShopSideber-Menu{
  width: 80%;
  height: 12%;
  margin: auto;
  align-items: center;
  text-decoration: none;
  color: black;
}