* {
  padding: 0;
  margin: 0;
}

.body {
  width: 50%;
  flex-grow: 1;
  text-align: center;
}
.product-grid {
  // padding-left: 3%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  // margin-bottom: 40px;
}
