.admin {
  display: flex;
  flex-direction: row;
}
// .App {
//   display: flex; /* Flexbox를 사용하여 사이드바와 메뉴를 나란히 배치 */
// }

.side-ber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  color: #202020;
  height: 100%;
  width: 20%;
  white-space: pre-wrap;
  bottom: 0;
  padding-top: 3%;
  background-color: white;
  position: relative;
}
.admin-page {
  font-size: 3em;
  float: left;
  background: #000;
  color: white;
  img {
    width: 48px;
    height: 48px;
    float: inline-start;
  }
}
.borderber {
  position: relative;
  background-color: aqua;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30%;
  padding-top: 10%;
  padding-bottom: 8%;
  margin-top: 30%;

  .sidebermenu {
    // background-color: orange;
    align-items: center;
    text-decoration: none;
    padding-bottom: 3%;
    padding-top: 3%;
  }
  .btn {
    margin-top: 30px;
    background-color: hotpink;
  }
}
.admin-desc {
  display: inline-block;
  width: 100%;
}
.menu {
  flex-direction: column;
}
.Title {
  font-size: large;
  font-weight: bold;
}
